.board {
  background-color: var(--blue-light);
  max-width: 600px;
  /* height: 600px; */
  margin: 0 auto;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.board-row {
  /* background: yellow; */
  /* padding: 0.5rem; */
  display: flex;
  flex-direction: row;
  height: 100%;
}

.board-cell:not(:last-child) {
  border-right: 5px solid var(--teal);
}

.board-row:not(:last-child) {
  border-bottom: 5px solid var(--teal);
}

.board > .board-row:first-child > .board-cell:first-child {
  /* background: pink !important; */
  border-top-left-radius: 30px;
}

.board > .board-row:first-child > .board-cell:last-child {
  border-top-right-radius: 30px;
}

.board > .board-row:last-child > .board-cell:first-child {
  border-bottom-left-radius: 30px;
}

.board > .board-row:last-child > .board-cell:last-child {
  border-bottom-right-radius: 30px;
}

.board-cell {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 190px;
}

.board-cell:hover {
  box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}

.board-cell.filled {
  background: var(--teal);
}
.board-cell.end {
  background: var(--yellow);
}

.board-cell.filled > img {
  animation: shake 0.25s linear;
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}
